# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/rapidxml-1.13/*.html
/rapidxml-1.13/*.txt
*.csv
*.ods
*.xml
*.db
*.opendb
config*.cpp
/Debug
/Release
/.vs
*.lnk
